# Basic List Operations

1. Create a list of 5 numbers and add a new number to the end.

In [8]:
lst = [10,20,30,40,50]

In [10]:
lst.append(99)

In [11]:
lst

[10, 20, 30, 40, 50, 99]

2. Make a list of fruits and insert a fruit at the second position.

In [12]:
lst2= ['Apple','Cucumber','Dragon Fruit']

3. Create a list of names and remove one name from the list.

In [13]:
lst2.insert(1,'Banana')

In [14]:
lst2

['Apple', 'Banana', 'Cucumber', 'Dragon Fruit']

4. Create a list of 4 items and change the value at index 2.

In [19]:
lst3=[100,200,300,400,]

In [20]:
lst3[1] = 'Changed Value'

In [21]:
lst3

[100, 'Changed Value', 300, 400]

5. Make a list of numbers and print only the first three elements.

In [22]:
lst4 = [100,200,300,400,500,600,700]

In [23]:
print(lst4[0:3])

[100, 200, 300]

6. Create a list of colors and find the index of a specific color.

In [ ]:
Color = ['Red','Blue','Violet','Pink','Black']

In [31]:
print(Color.index("Red"))

0

7. Create a list of 10 numbers and print how many times “5” appears.

In [36]:
numl = [5,8,9,84,5,1,0,5,78,6,5,28,5,77,96,5]

In [37]:
print(numl.count(5))

6

8. Make a list of 6 items and delete the item at index 3.

In [38]:
dlt = [45,60,75,80,56,44]

In [ ]:
dlt.pop(3)

80

In [40]:
dlt

[45, 60, 75, 56, 44]

9. Create a list of animals and add three more animals using extend().

In [46]:
anml = ['Cat','Lion','Dog']
wld = ['Jaguar','Dolphin','Shark']

In [47]:
anml.extend(wld)

In [48]:
anml

['Cat', 'Lion', 'Dog', 'Jaguar', 'Dolphin', 'Shark']

10. Create a list and remove the last item using pop().

In [ ]:
wld = ['Jaguar','Dolphin','Shark']

In [50]:
print(wld.pop(-1))

Shark

In [51]:
wld

['Jaguar', 'Dolphin']

11. Create a list of prices and sort them in ascending order.

In [52]:
prices = [5,8,9,84,5,1,0,5,78,6,5,28,5,77,96,5]

In [53]:
prices.sort()

In [54]:
prices

[0, 1, 5, 5, 5, 5, 5, 5, 6, 8, 9, 28, 77, 78, 84, 96]

12. Make a list of countries and reverse the order of the list.

In [65]:
countries = ["India","USA","Qatar","Poland","Swizterland"]

In [68]:
countries.reverse()

In [69]:
countries

['Swizterland', 'Poland', 'Qatar', 'USA', 'India']

13. Create a list of words and check if “apple” is in the list.

In [70]:
fruits = ['Watermelon','Jack Fruit', 'Apple', 'Coconut','Guava','Mango']

In [74]:
fruits.index('Apple')

2

14. Create a list of numbers and print the largest and smallest number.

In [76]:
mm = [5,8,9,84,5,1,0,5,78,6,5,28,5,77,96,5]

In [80]:
max_no = max(mm)
print(max_no)

96

In [81]:
min_no = min(mm)
print(min_no)

0

15. Make a list of 5 items and print each item using a loop.

In [82]:
lp = [4,68,51,23,98]

In [88]:
for i in lp:
    print(i)
else:
    print('none')

4
68
51
23
98
none

16. Create two lists and combine them into one list.

In [90]:
lst1 = ['Ram','Shyam','Omkar']

In [91]:
lst2 = ['Vijay', 'Vinay', 'Vinod']

In [93]:
comb = lst1 + lst2
print(comb)

['Ram', 'Shyam', 'Omkar', 'Vijay', 'Vinay', 'Vinod']

In [94]:
type(comb)

list

17. Make a list and replace the last item with a new value.

In [95]:
name = ['Vijay', 'Vinay', 'Vinod']

In [97]:
name[-1] = 'Rajshekhar'
print(name)

['Vijay', 'Vinay', 'Rajshekhar']

18. Create a list of numbers and print only the even numbers.

In [98]:
Nn = [1,2,3,4,5,6,7,8,9,10,11,12,13]

In [118]:
for i in Nn:
    if (i%2==0):
        print(i)

2
4
6
8
10
12

19. Create a list and clear all items from the list.

In [108]:
ci = [1,2,3,4,5,6,7,8,9,10,11,12,13]

In [109]:
ci.clear()

In [110]:
ci

[]

20. Create a list of 5 values and copy it into another list.

In [111]:
tc = [99,88,77,66,55]

In [113]:
copied = tc.copy()
print(copied)

[99, 88, 77, 66, 55]

In [114]:
type(copied)

list