### 1. Create a dictionary with 3 key-value pairs (name, age, city).

In [196]:
info_dic = {"Name": "Raj","Age": 20, "City":"Pune"}
info_dic

{'Name': 'Raj', 'Age': 20, 'City': 'Pune'}

### 2. Create a dictionary and print the value of a specific key.

In [197]:
info_dic["Age"]

20

### 3. Create a list of 5 numbers and print the second element.

In [198]:
lst = [50, 47, 88, 76, 54]

In [199]:
lst[1]

47

### 4. Add an element "banana" to an existing list.

In [200]:
lst.append("banana")

In [201]:
lst

[50, 47, 88, 76, 54, 'banana']

### 5. Insert "apple" at index 2 in a list.

In [202]:
lst.insert(2,"apple")
lst

[50, 47, 'apple', 88, 76, 54, 'banana']

### 6. Remove the element 10 from a list.

In [203]:
lst_rm = [50, 47, 'apple', 88, 76, 54, 'banana', 190, 782, 767,10, 67 ,880]

In [204]:
lst_rm.remove(10)

In [205]:
lst_rm

[50, 47, 'apple', 88, 76, 54, 'banana', 190, 782, 767, 67, 880]

### 7. Create a tuple with 4 elements and print the last one.

In [206]:
tpl_1 = (90, 45, 66, 16)

In [207]:
tpl_1[-1]

16

### 8. Convert a tuple into a list.

In [208]:
tpl = (90, 45, 66, 16)

In [209]:
tpl = list(tpl)
type(tpl)

list

### 9. Find the length of a given tuple.

In [210]:
print(len(tpl))

4

### 10. Store 5 student names in a list and print them using a loop.

In [211]:
stu = ["Suresh", "Ram", "Mukesh", "Vikas", "Vijay"]

In [212]:
for i in stu:
    print(i)

Suresh
Ram
Mukesh
Vikas
Vijay

### 11. Create two lists and concatenate them.

In [3]:
l1 = ["Suresh", "Ram", "Mukesh", "Vikas", "Vijay"]

In [4]:
l2 = [20, 40, 50 ,60, 77]

In [5]:
conl = l1 +l2
print(conl)

['Suresh', 'Ram', 'Mukesh', 'Vikas', 'Vijay', 20, 40, 50, 60, 77]

### 12. Reverse a list without using reverse().

In [6]:
conl

['Suresh', 'Ram', 'Mukesh', 'Vikas', 'Vijay', 20, 40, 50, 60, 77]

In [217]:
conl[::-1]

[77, 60, 50, 40, 20, 'Vijay', 'Vikas', 'Mukesh', 'Ram', 'Suresh']

### 13. Sort a list in descending order.

In [7]:
conl.sort(key = lambda x: (isinstance(x, str)), reverse = True)  #Doubt

In [ ]:
print(conl)

['Mukesh', 'Ram', 'Suresh', 'Vijay', 'Vikas', 20, 40, 50, 60, 77]

### 14. Create a set with 5 numbers and add a new number.

In [ ]:
st = {88, 56, 12, 45, 67}

In [ ]:
st.add(1)
st

{1, 12, 45, 56, 67, 88}

### 15. Remove an element from a set using discard().

In [ ]:
st.discard(12)

In [ ]:
st

{1, 45, 56, 67, 88}

### 16. Find the union of two sets.

In [ ]:
st_1 = {1, 45, 56, 67, 88}

In [ ]:
st_2 = {100, 75, 36, 1, 45, 90, 77}

In [ ]:
ale = st_1.union(st_2)
print(ale)

{1, 67, 100, 36, 75, 45, 77, 56, 90, 88}

### 17. Find the intersection of two sets.

In [ ]:
cme = st_1.intersection(st_2)
print(cme)

{1, 45}

### 18. Check if a value exists in a set.

In [ ]:
1000 in st_1

False

### 19. Create a set and clear all elements.

In [ ]:
cl_st = {7,4,6,2,6,8,4,1,2,3,52,2,5}

In [ ]:
cl_st.clear()
cl_st

set()

### 20. Convert a list with duplicate values into a set.

In [ ]:
l1 = [8,2,8,34, 2,1,67, 56,90]

In [ ]:
l1 = set(l1)
type(l1)

set

In [ ]:
l1

{1, 2, 8, 34, 56, 67, 90}

### 21. Create a dictionary and update the value of a key.

In [ ]:
udic = {"Name":"Rahul","Age": 23, "Height": 5.2, "Status":"Unemployed"}

In [ ]:
udic["Height"] = 6
print(udic)

{'Name': 'Rahul', 'Age': 23, 'Height': 6, 'Status': 'Unemployed'}

### 22. Delete a key-value pair from a dictionary.

In [ ]:
del udic["Status"]

In [ ]:
print(udic)

{'Name': 'Rahul', 'Age': 23, 'Height': 6}

### 23. Print all keys of a dictionary.

In [ ]:
udic.keys()

dict_keys(['Name', 'Age', 'Height'])

### 24. Print all values of a dictionary.

In [ ]:
udic.values()

dict_values(['Rahul', 23, 6])

### 25. Loop through a dictionary and print key and value.

In [ ]:
udic_11 = {"Name":"Rahul","Age": 23, "Height": 5.2, "Status":"Unemployed"}

In [ ]:
for key,value in udic_11.items():
    print(f"KEY --{key} and VALUE --{value}")

KEY --Name and VALUE --Rahul
KEY --Age and VALUE --23
KEY --Height and VALUE --5.2
KEY --Status and VALUE --Unemployed

### 26. Create a list of numbers and print only even numbers.

In [ ]:
el = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

In [ ]:
for i in el:
    if i%2 == 0:
        print(i)

2
4
6
8
10
12
14

### 27. Create a tuple and unpack it into 3 variables.

In [24]:
m_t = (10, 20, 30)

In [26]:
a, b, c = m_t

In [27]:
print(a)
print(b)
print(c)

10
20
30

### 28. Check if a number is greater than 10 using a comparison operator.

In [ ]:
el = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

In [ ]:
for i in el:
    if i > 10:
        print(i)
        i+=1

11
12
13
14
15

### 29. Use the in operator to check if "python" exists in a list.

In [ ]:
"python" in (el)

False

### 30. Use the and operator in a condition.

In [ ]:
for i in el:
    if i <10:
        print(i)
        i+=1

1
2
3
4
5
6
7
8
9

### 31. Use the % operator to check if a number is divisible by 5.

In [ ]:
el = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

In [ ]:
for i in el:
    if i%5 == 0:
        print(i,"Divisible by 5")

5 Divisible by 5
10 Divisible by 5
15 Divisible by 5

### 32. Use the ** operator to calculate 2 raised to the power 5.

In [ ]:
print(2**5)

32

### 33. Create two numbers and compare them using >=.

In [ ]:
a = 90
b = 12

In [ ]:
if (a >= b):
    print("a is bigger")
else:
    print("None")

a is bigger

### 34. Create a list and remove the last element using pop().

In [ ]:
er = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

In [ ]:
er.pop(-1)

15

In [ ]:
er

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

### 35. Create a list and print its first and last elements.

In [ ]:
er = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

In [ ]:
first, *_, last = er
print(f"First {first} Last{last}")

First 1 Last15

### 36. Count how many times "apple" appears in a list.

In [ ]:
er.count("apple")

0

### 37. Create a tuple and check if a value exists using in.

In [ ]:
my_t = (1,2,3,4,5,6,7)

In [ ]:
10 in my_t

False

### 38. Convert a dictionaryâ€™s keys into a list.

In [ ]:
my_dic = {"Name":"Rahul","Age": 23, "Height": 5.2, "Status":"Unemployed"}

In [ ]:
ls_d = my_dic.keys()

In [ ]:
ls_d

dict_keys(['Name', 'Age', 'Height', 'Status'])

In [ ]:
type(ls_d)

dict_keys

### 39. Create a nested dictionary for a student (name, marks, subjects).

In [11]:
students = {                     #Doubt
    "student1":{
        "name":"Alice",
        "marks": 70,
        "Subject":"Maths"
    },
    "student2":{
        "name":"Bob",
        "marks":80,
        "Subject":"Geography"
    },
    "student3":{
        "name":"Marcus",
        "marks":89,
        "Subject":"English"
    }
}

In [13]:
students['student1']['name']

'Alice'

### 40. Merge two dictionaries into one.

In [ ]:
dic_1 = {"Name":"Rahul","Age": 23, "Height": 5.2}          # union op (|) and update
dic_2 = {"School":"VKS","Year": 2018}

In [ ]:
mer_dic = dic_1 | dic_2
print(mer_dic)

{'Name': 'Rahul', 'Age': 23, 'Height': 5.2, 'School': 'VKS', 'Year': 2018}

### 41. Create a set and print the number of elements.

In [ ]:
my_s = {1, 45, 56, 67, 88}

In [ ]:
len(my_s)

5

### 42. Create a dictionary and print all items using items().

In [ ]:
dic_1 = {"Name":"Rahul","Age": 23, "Height": 5.2}

In [ ]:
dic_1.items()

dict_items([('Name', 'Rahul'), ('Age', 23), ('Height', 5.2)])

### 43. Create a list of numbers 1 to 10 and print the square of each one.

In [ ]:
l_s = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
for i in l_s:
    print(i**2)

1
4
9
16
25
36
49
64
81
100

### 44. Multiply two numbers and print the result using *.

In [ ]:
a = 10
b = 9

In [ ]:
print(a*b)

90

### 45. Divide two numbers and print the results using / and //.

In [ ]:
re_1 = round(a /b,2)
re_2 = a//b

In [ ]:
print(re_1)
print(re_2)

1.11
1

### 46. Create a list and replace the element at index 1.

In [ ]:
lts = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
lts[0] = 45

In [ ]:
lts

[45, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 47. Create a tuple from user input (3 values).

In [10]:
user_inp = input("Enter value")

In [11]:
lst =user_inp.split(" ")

In [12]:
spl_inp = tuple(lst)
print(spl_inp)

('2', '4', '5')

In [13]:
type(spl_inp)

tuple

### 48. Create a set from a string and print all unique characters.

In [228]:
str = ("PINEAPPLE")

In [229]:
my_set = set(str)

In [230]:
type(my_set)

set

In [231]:
my_set

{'A', 'E', 'I', 'L', 'N', 'P'}

### 49. Use the is operator to compare two variables.

In [232]:
a = 99
b = 100

In [233]:
print(a==b)

False

### 50. Create a dictionary and check if a key exists using in.

In [234]:
dic_1 = {"Name":"Rahul","Age": 23, "Height": 5.2}

In [235]:
"Age" in dic_1.keys()

True

### 51. Write a program to check if a number is between 10 and 50 using and.

In [245]:
user_inp = int(input(" Enter Value:"))

In [246]:
if user_inp> 10 and user_inp< 50:
    print("IN Bet")

IN Bet

### 52. Check if a number is less than 5 or greater than 20 using or.

In [249]:
a = 50
if a < 5 or a > 20:
    print("Condition Satisfied")

Condition Satisfied

### 53. Use not to check if a list is not empty.

In [18]:
my_list = [4,6,7,3,]

In [19]:
if my_list != []:
    print("List is not empty")
else:
    print("Empty list")

List is not empty

### 54. Write code to check if a character is a vowel using or.

In [ ]:
str = "Adam ate the apple"           
cl_str = str.replace(" ","")
s_s = list(cl_str)

In [265]:
print(s_s)

['A', 'd', 'a', 'm', 'a', 't', 'e', 't', 'h', 'e', 'a', 'p', 'p', 'l', 'e']

In [266]:
for i in s_s:
    if i in ("a,i,e,o,u"):
        print(f"{i} Vowel")
    else:
        print(f"{i} Non Vowel")

A Non Vowel
d Non Vowel
a Vowel
m Non Vowel
a Vowel
t Non Vowel
e Vowel
t Non Vowel
h Non Vowel
e Vowel
a Vowel
p Non Vowel
p Non Vowel
l Non Vowel
e Vowel

### 55. Check if a dictionary has both keys "name" and "age".

In [2]:
dic_k = {"Name":"Rahul","Age": 23, "Height": 5.2}   
kcheck = {"Name","Age"}

In [3]:
if kcheck.issubset(dic_k.keys()):
    print("Present")
else:
    print("N P")

Present

### 56. Verify if a set contains either 10 or 20.

In [293]:
sts = {1,3,5,7,86,5,8,95,20,3}

In [294]:
    if 10 in sts or 20 in sts:        #(10,20) working
        print("yes")
    else:
        print("n")

yes

### 57. Use not to check if a number is not equal to 100.

In [22]:
num = 100

In [23]:
if num != 100:
    print("Not E")
else:
    print("Equal")

Equal

### 58. Write a condition to check if a student passed (marks > 35 and attendance > 75).

In [306]:
marks = 69
attendence = 79

In [307]:
if marks > 35 and attendence > 75:
    print("Passed")
else:
    print("NE")

Passed

### 59. Use logical operators to check if a number is positive and even.

In [309]:
num = 10

In [310]:
if num%2 == 0 and num > 0:
    print("P & E")
else:
    print("Not Satisfied")

P & E

### 60. Check if a tuple has more than 3 elements or contains the value 0.

In [311]:
tp_lt = (89, 67, 78, 99, 0, 13,45)

In [317]:
if len(tp_lt) > 3 or 0 in tp_lt:
    print("C Satisfied")
else:
    print("N Satisfied")

C Satisfied