## Q1: Create a class called Student

Requirements:
- Class variable: `school_name = "ABC International School"`
- Constructor: takes `name` and `marks`
- Instance method: `display_details()`
- Class method: `change_school()`
- Static method: `is_pass(marks)` returns "Pass" if marks â‰¥ 35 else "Fail"

In [49]:
class Student:
    school_name = "ABC International School"

    def __init__(self, name, marks): #constructor Initiated
        self.name = name
        self.marks = marks

    def display_details(self):
        print("Name:",self.name," Marks",self.marks,"School: ",Student.school_name)

    @classmethod
    def change_school(cls, new_school):
        cls.school_name = new_school
    
    @staticmethod
    def is_pass(marks):
        return "Pass" if marks >=35 else "Fail"

In [45]:
s1 = Student("Rahul", 89)

In [46]:
s1.display_details()

Name: Rahul  Marks 89 School:  ABC International School

In [52]:
Student.change_school("Modern International School")

In [53]:
s1.display_details()

Name: Rahul  Marks 89 School:  Modern International School

In [54]:
s1.is_pass(s1.marks)

'Pass'

In [55]:
Student.is_pass(90)

'Pass'

## Q2: Create a class Calculator

Requirements:
- Class variable: `count_operations = 0`
- Instance method: `add(a, b)`
- Class method: `increment_count()`
- Static method: `info()`

In [98]:

class Calculator:
    count_operation = 0

    def addition(self, a, b):
        Calculator.increment_count()
        return(a + b)

    @classmethod
    def increment_count(cls):
        cls.count_operation += 1  

    @staticmethod
    def info():
        print("Total Operation:",Calculator.count_operation)

In [99]:
Calculator.count_operation

0

In [100]:
op1 = Calculator()

In [101]:
op2 = Calculator()

In [102]:
op1.addition(4,6)

10

In [103]:
op2.addition(2,2)

4

In [104]:
Calculator.count_operation

2

In [105]:
op1.info()

Total Operation: 2

## Q3: Write a class BankAccount

Requirements:
- Class variable: `bank_name = "SBI"`
- Constructor: `name`, `balance`
- Instance method: `deposit(amount)`
- Class method: `change_bank(new_name)`
- Static method: `validate_amount(amount)`

In [153]:
class BankAccount:
    bank_name = "SBI"

    def __init__(self, name, balance):
        self.name = name
        self.balance = balance

    def deposit(self, amount):
        if BankAccount.validate_amount(amount):
            self.balance+=amount
            print(f"Rs {amount} is deposited in your acc. Balance {self.balance}")
        else:
            print("Invalid Amount")
       
      
    
    @classmethod
    def change_name(cls, new_bank):
        cls.bank_name = new_bank
    
    @staticmethod
    def validate_amount(amount):
        return amount > 0

In [154]:
acc1 = BankAccount("Rahul Sharma", 50000)

In [155]:
acc1.name

'Rahul Sharma'

In [156]:
acc1.balance

50000

In [157]:
acc1.deposit(10000)

Rs 10000 is deposited in your acc. Balance 60000

In [158]:
acc1.balance

60000

In [159]:
acc1.change_name("BOI")

In [160]:
BankAccount.bank_name

'BOI'

In [164]:
BankAccount.validate_amount(4)

True