# ðŸ“ Python Assignment â€“ Nested Lists & Nested Dictionaries
## Medium Level Questions (20)
### Instructions:
- Write all your answers in the code cells provided.
- Do not erase the questions.
- Use loops (`for` / `while`) wherever necessary.
---

## **1. Print every element inside this nested list:**
`[[1,2,3], [4,5], [6,7,8,9]]`

In [3]:
n_list = [[1,2,3], [4,5], [6,7,8,9]]

In [17]:
for item in n_list:
    for num in item:
        print(num, end=" ")

1 2 3 4 5 6 7 8 9

In [ ]:
## comprehension

In [120]:
n_list = [num for item in n_list for num in item]

In [121]:
n_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 36]

## **2. Find the sum of all numbers inside a nested list.**
Example: `[[10,20], [30], [5, 7, 8]]`

In [209]:
n1_list = [[10,20], [30], [5, 7, 8]]

In [127]:
sumN = 0
for item in n1_list:
    for num in item:
        sumN+=num
print(sumN)

80

In [ ]:
## Comprehension

In [210]:
ts = sum(num for item in n1_list for num in item)

In [211]:
ts

80

## **3. Count how many even numbers are present in a nested list.**

In [32]:
n_list = [[1,2,3], [4,5], [6,7,8,9],[10,12,36]]

In [33]:
count = 0
for item in n_list:
    for num in item:
        if (num%2==0):
            count+=1
print("No of even no:",count)

No of even no: 7

## **4. Convert all strings to uppercase inside a nested list.**
Example: `[['hello', 'world'], ['python']]`

In [34]:
str_list = [['hello', 'world'], ['python']]

In [42]:
for item in str_list:
    for wrd in item:
        if (wrd.islower):
            print(wrd.upper(), end=" ")

HELLO WORLD PYTHON

## **5. For the nested marks list, print total marks of each student.**
`[[80, 90, 85], [75, 70, 65], [88, 92, 79]]`

In [47]:
stud_marks = [[80, 90, 85], [75, 70, 65], [88, 92, 79]]

In [48]:
total = 0
for item in stud_marks:
    for num in item:
        total+= num
print(total)

724

## **6. Create a new list containing numbers greater than 50 from a nested list.**

In [52]:
llts = [[80, 20, 45], [75, 170, 6], [8, 9, 49],[4,67,89]]

In [53]:
new_list = []
for item in llts:
    for num in item:
        if (num>=50):
            new_list.append(num)
print(new_list)

[80, 75, 170, 67, 89]

In [ ]:
## Comprehension

In [61]:
new_list = [num for item in llts for num in item if num>=50]

In [62]:
print(new_list)

[80, 75, 170, 67, 89]

## **7. Find the largest number inside a nested list.**

In [82]:
llts = [[80, 20, 45], [75, 170, 6], [8, 9000, 49],[4,67,89]]

In [83]:
max_num = 0
for item in llts:
    for num in item:
        if (num > max_num):
            max_num = num
print(max_num)

9000

In [ ]:
## Comprehension

In [ ]:
max_n = [num for item in llts for num in llts if ]

## **8. Flatten a nested list into a single list.**
`[[1,2], [3,4], [5]] â†’ [1,2,3,4,5]`

In [96]:
fla_list = [[1,2], [3,4], [5]]
fla = []

In [97]:
for item in fla_list:
    for num in item:
        fla.append(num)
print(fla)

[1, 2, 3, 4, 5]

In [ ]:
## comprehension

In [88]:
sin_list = [num for item in fla_list for num in item]

In [89]:
sin_list

[1, 2, 3, 4, 5]

## **9. Replace all negative numbers with 0 inside a nested list.**

In [111]:
N_list = [[-1,2], [3,4], [-5],[3,-7]]

In [115]:
for item in N_list:
    for i in range(len(item)):
        if item[i] <0:
            item[i]=0
print(N_list)

[[0, 2], [3, 4], [0], [3, 0]]

In [ ]:
##Comprehension

In [118]:
N_list = [[0 if num <0 else num for num in item] for item in N_list]

In [119]:
N_list

[[0, 2], [3, 4], [0], [3, 0]]

## **10. Count how many inner lists exist inside a nested list.**

In [124]:
Nest_list = [[1,2], [3,4], [5],[3],[6,9,0],[0,1],[9,12]]

In [106]:
count = 0
for item in Nest_list:
    count+=1
print(count)

7

In [ ]:
## Comprehension

## **11. Print each student's name and age from this nested dictionary:**
```
{
  'A': {'age': 15, 'grade': 10},
  'B': {'age': 16, 'grade': 11}
}
```

In [32]:
si = {
  'A': {'age': 15, 'grade': 10},
  'B': {'age': 16, 'grade': 11}
}

In [56]:
for name, info in si.items():
    print(name,":", info['age'])

A : 15
B : 16

In [ ]:
## Comprehension

In [59]:
ng = {name: info['age'] for name,info in si.items()}

In [60]:
ng

{'A': 15, 'B': 16}

## **12. Increase every student's marks by 5 in a nested dictionary.**

In [77]:
mis = {
  'A': {'math': 85, 'science': 90},
  'B': {'math': 70, 'science': 88},
  'c': {'math': 81, 'science': 88}
}

In [78]:
for name, info in mis.items():
    info['math']+=5
print(mis)

{'A': {'math': 90, 'science': 90}, 'B': {'math': 75, 'science': 88}, 'c': {'math': 86, 'science': 88}}

In [ ]:
### Comprehension

## **13. Print only the inner dictionary keys from a nested dictionary.**

In [91]:
mis = {
  'A': {'math': 85, 'science': 90},
  'B': {'English': 70, 'Marathi': 88},
  'c': {'Gujarati': 81, 'Geography': 88}
}

In [98]:
for info in mis.values():
        for key, value in info.items():
                print(key, end = "  ")

math  science  English  Marathi  Gujarati  Geography

In [ ]:
## Comprehension

In [100]:
ikey = {key for info in mis.values() for key,value in info.items()}

In [101]:
ikey

{'English', 'Geography', 'Gujarati', 'Marathi', 'math', 'science'}

## **14. Count how many students scored more than 80 in math:**
```
{
  'A': {'math': 85, 'science': 90},
  'B': {'math': 70, 'science': 88}
}
```

In [65]:
clam = {
  'A': {'math': 85, 'science': 90},
  'B': {'math': 70, 'science': 88},
  'c': {'math': 81, 'science': 88}
}

In [67]:
cnt = 0
for name,info in clam.items():
            if info['math']>80:
                    cnt+=1
print(cnt)

2

In [ ]:
##comprhension

In [68]:
cnt = sum(1 for name, info in clam.items() if info['math']>80)

In [69]:
cnt

2

## **15. Create a new dictionary of students whose age is above 15.**

In [122]:
agd = {
  'A': {'age': 15, 'grade': 10},
  'B': {'age': 20, 'grade': 11},
  'C': {'age': 12, 'grade': 11},
  'D': {'age': 10, 'grade': 11}
}
na_dic = {}

In [123]:
for  name,info in agd.items():
    if (info['age']>=15):
        na_dic[name] = info
print(na_dic)

{'A': {'age': 15, 'grade': 10}, 'B': {'age': 20, 'grade': 11}}

In [ ]:
## Comprehension

In [130]:
new_d ={name:info for name,info in agd.items() if info['age']>=15}

In [131]:
new_d

{'A': {'age': 15, 'grade': 10}, 'B': {'age': 20, 'grade': 11}}

## **16. Find which student scored highest in science.**

In [139]:
clam = {
  'A': {'math': 85, 'science': 90},
  'B': {'math': 70, 'science': 88},
  'C': {'math': 81, 'science': 88}
}

In [142]:
max_science = 0
for  name,info in clam.items():
    if info['science'] > max_science:
        max_science = info['science']
        print(name)

A

In [ ]:
## Comprehension

## **17. Print employees who belong to the HR department from this dictionary.**

In [147]:
employee={1:{"name":"john","dept":"HR"},
          2:{"name":"Bob","dept":"IT"},
          3:{"name":"alice","dept":"HR"},
          4:{"name":"Mike","dept":"HR"}}

In [149]:
for id, info in employee.items():
    if info['dept'] == "HR":
        print(id, info)

1 {'name': 'john', 'dept': 'HR'}
3 {'name': 'alice', 'dept': 'HR'}
4 {'name': 'Mike', 'dept': 'HR'}

In [ ]:
## Comprehension

In [150]:
hr_dic = {id: info for id, info in employee.items() if info['dept']=='HR'}

In [151]:
hr_dic

{1: {'name': 'john', 'dept': 'HR'},
 3: {'name': 'alice', 'dept': 'HR'},
 4: {'name': 'Mike', 'dept': 'HR'}}

## **18. Delete all entries where the status is 'inactive'.**

In [156]:
employees = {
    'E1': {'name': 'John', 'status': 'active'},
    'E2': {'name': 'Sara', 'status': 'inactive'},
    'E3': {'name': 'Mike', 'status': 'active'},
    'E4': {'name': 'Rita', 'status': 'inactive'}
}

In [168]:
for id, info in list(employees.items()):
    if info['status'] == 'inactive':
        employees.pop(id)
print(employees)

{'E1': {'name': 'John', 'status': 'active'}, 'E3': {'name': 'Mike', 'status': 'active'}}

In [ ]:
## comprehension

In [159]:
act_dic = {id: info for id, info in employees.items() if info['status']=='active'}

In [160]:
act_dic

{'E1': {'name': 'John', 'status': 'active'},
 'E3': {'name': 'Mike', 'status': 'active'}}

## **19. Find total stock by summing all 'quantity' values in a nested dictionary.**

In [187]:
stock = {
    'item1': {'quantity': 10, 'price': 50},
    'item2': {'quantity': 5, 'price': 30},
    'item3': {'quantity': 8, 'price': 20}
}

In [192]:
total = 0
for name, info in stock.items():
    total += info["quantity"]
print(total)

23

In [ ]:
## comprehension

In [196]:
toq = sum(info['quantity'] for name, info in stock.items())

In [197]:
toq

23

## **20. Convert all inner dictionary keys to uppercase.**

In [24]:
employees = {
    'E1': {'name': 'John', 'status': 'active'},
    'E2': {'name': 'Sara', 'status': 'inactive'},
    'E3': {'name': 'Mike', 'status': 'active'},
    'E4': {'name': 'Rita', 'status': 'inactive'}
}

In [27]:
for id, info in list(employees.items()):
    for key, value in list(info.items()):
        info.pop(key)
        info[key.upper()] = value
       
    print(id, info)

E1 {'NAME': 'John', 'STATUS': 'active'}
E2 {'NAME': 'Sara', 'STATUS': 'inactive'}
E3 {'NAME': 'Mike', 'STATUS': 'active'}
E4 {'NAME': 'Rita', 'STATUS': 'inactive'}

In [ ]:
## comprehension

In [6]:
up_d = {id: {key.upper(): value for key, value in info.items()} for id, info in employees.items()}

In [7]:
up_d

{'E1': {'NAME': 'John', 'STATUS': 'active'},
 'E2': {'NAME': 'Sara', 'STATUS': 'inactive'},
 'E3': {'NAME': 'Mike', 'STATUS': 'active'},
 'E4': {'NAME': 'Rita', 'STATUS': 'inactive'}}