### 1. Print numbers from 1 to 10 using a for loop

In [1]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### 2. Print all even numbers between 1 and 20 using a for loop

In [2]:
for i in range(1,21):
    if(i%2==0):
        print(i)

2
4
6
8
10
12
14
16
18
20

### 3. Print each character of the string 'Python' using a for loop

In [4]:
str = "Python"
for ch in str:
    print(ch)

P
y
t
h
o
n

### 4. Print the squares of numbers from 1 to 5 using a for loop

In [5]:
for i in range(1,6):
    print(i**2)

1
4
9
16
25

### 5. Print all elements of a list using a for loop

In [6]:
list = [2,4,5,6,7,8]

for i in list:
    print(i)

2
4
5
6
7
8

### 6. Calculate the sum of numbers from 1 to 50 using a for loop

In [20]:
sum =0
for i in range(1,51):
    sum =  sum +i
print(f"{sum}")

1275

### 7. Print numbers from 10 to 1 in reverse using a for loop

In [21]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

### 8. Print the multiplication table of 7 using a for loop

In [26]:
for i in range (1,71):
    if(i%7==0):
        print(i)

7
14
21
28
35
42
49
56
63
70

### 9. Count how many vowels are in the string 'education' using a for loop

In [13]:
count = 0
vowels = ('a','e','i','o','u')
string = 'education'

In [16]:
for ch in string:
    print(ch)

e
d
u
c
a
t
i
o
n

In [19]:
for ch in string:
    if (ch in vowels):
        count=+1
print(count)

1

### 10. Print all odd numbers from 1 to 30 using a for loop

In [27]:
for i in range(1,31):
    if (i%2==0):
        pass
    else:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

### 11. Count how many uppercase letters are in a string using a for loop

In [ ]:
str = " I Love India "
count = 0

In [85]:
for ch in str:
    if ch.isupper():
        count+=1
print(count)

5

### 12. Create a new list that contains only the positive numbers from another list

In [44]:
list = [2,-1,5,-5,-4,1,9,-34,56,89,22,-4,-90]
p_list = []

In [45]:
for i in list:
    if (i>0):
        p_list.append(i)
print(p_list)

[2, 5, 1, 9, 56, 89, 22]

### 13. Print numbers from 1 to 10 using a while loop

In [58]:
i=1
while (i<11):
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

### 14. Print all multiples of 5 up to 50 using a while loop

In [38]:
num  =5
num_last = 50

In [39]:
while num<=num_last:
    print(num,end= " ")    # end = " " == After printing num, don’t go to a new line —instead, end with a space.
    num+=5

5 10 15 20 25 30 35 40 45 50

In [42]:
n =1

In [43]:
while n <=50:
    if n%5 == 0:
        print(n, end=" ")
    n+=1

5 10 15 20 25 30 35 40 45 50

### 15. Print numbers from 10 to 1 in reverse using a while loop

In [ ]:
start = int(10)
end = int(1)

In [17]:
while start >= end:
    print(start)
    start-=1

10
9
8
7
6
5
4
3
2
1

### 16. Keep asking the user to enter numbers until the user enters 0

In [32]:
user_input = input()

In [ ]:
while user_input == int(0):
    print("Input Registred")
else:
    user_input = input()

### 17. Use a while loop to calculate the sum of the first 10 natural numbers

In [105]:
start =1 
end = 10

### 18. Given a dictionary of fruits and their prices, print all the keys using a for loop

In [47]:
dic_fruits = {"Apple":250, "Watermelom":110,"Banana":70,"Sapota":45,"Orange":240}

In [57]:
for key in dic_fruits:
    print(f"{key}")

Apple
Watermelom
Banana
Sapota
Orange

### 19. Given a dictionary of fruits and their prices, print all the values using a for loop

In [52]:
for value in dic_fruits.values():
    print(value)

250
110
70
45
240

### 20. Print both keys and values of a dictionary using a for loop

In [56]:
dic_fruits = {"Apple":250, "Watermelom":110,"Banana":70,"Sapota":45,"Orange":240}

In [55]:
for key, value in dic_fruits.items():
    print(f'{key}, {value}')

Apple, 250
Watermelom, 110
Banana, 70
Sapota, 45
Orange, 240

### 21. Count how many keys are in a dictionary using a for loop

In [73]:
dic_fruits = {"Apple":250, "Watermelom":110,"Banana":70,"Sapota":45,"Orange":240,"Blueberry":250,"Apricot":300}

In [63]:
count = 0
for i in dic_fruits.keys():
    count+=1
print(count)

6

### 22. Create a dictionary and print only the keys that start with the letter 'a'

In [ ]:
dic_fruits = {"Apple":250, "Watermelom":110,"Banana":70,"Sapota":45,"Orange":240,"Blueberry":250,"Apricot":300}

In [74]:
for i in dic_fruits.keys():
    if i.startswith("A"):
        print(i)

Apple
Apricot

### 23. Given a dictionary of student names and marks, print only the students who scored more than 80

In [120]:
Student_marks = {"Rahul": 80, "Vijay":78,"Ram":85,"Omkar":81,"Raj":76}

In [98]:
for key,value in Student_marks.items():
    if Student_marks[key] >= 80:
        print(key)

Rahul
Ram
Omkar

### 24. Given a dictionary, print the sum of all the values using a for loop

In [ ]:
Student_marks = {"Rahul": 80, "Vijay":78,"Ram":85,"Omkar":81,"Raj":76}

In [118]:
sum = 0
for value in Student_marks.values():
    sum+=value
print(sum)

400

In [111]:
type(value)

int

### 25. Given a dictionary, find the key with the highest value using a for loop

In [ ]:
Student_marks = {"Rahul": 80, "Vijay":78,"Ram":85,"Omkar":81,"Raj":76}

In [ ]:
highest_key = None
highest_value = 0

for name, marks in Student_marks.items():
    if marks > highest_value:
        highest_value = marks
        highest_key = name

print("Student with highest marks:", highest_key, "=", highest_value)

Ram 85

In [ ]:
print(f"{max(Student_marks.values())}, {key}")

85, Raj

### 26. Convert all dictionary keys into a list using a for loop

In [38]:
dic_fruits = {"Apple":250, "Watermelom":110,"Banana":70,"Sapota":45,"Orange":240,"Blueberry":250,"Apricot":300}
emp_lst = []

In [39]:
for name in dic_fruits:
    emp_lst.append(name)
print(emp_lst)

['Apple', 'Watermelom', 'Banana', 'Sapota', 'Orange', 'Blueberry', 'Apricot']

In [40]:
type(emp_lst)

list

### 27. Create a dictionary of 5 words and their lengths, then print each word and its length using a for loop

In [84]:
words = {"Apple":len("Apple"),
               "Watermelom":len("Watermelom"),
               "Banana":len("Banana"),
               "Sapota":len("Sapota"),
               "Orange":len("Orange")}

In [87]:
for word, length in words.items():
    print(word, "=", length)

Apple = 5
Watermelom = 10
Banana = 6
Sapota = 6
Orange = 6

### 28. Given a list of numbers, print only numbers greater than 10

In [41]:
lst = [2,10,45,67,1,7,9,3,100,78,90,34]

In [42]:
for i in lst:
    if i>=10:
        print(i)

10
45
67
100
78
90
34

In [45]:
[i for i in lst if i>= 10]

[10, 45, 67, 100, 78, 90, 34]

### 29. Count how many elements in a list are integers using a for loop

In [ ]:
lst = [2,3,4,5,6,7]

### 30. Print the sum of all even numbers in a list using a for loop

In [86]:
mll = [2,3,4,5,6,7,8,9,10,11,12]

In [92]:
sme = 0
for num in mll:
    if num%2==0:
        sme+=num
        print("VAlue agter each iteration",sme)

VAlue agter each iteration 2
VAlue agter each iteration 6
VAlue agter each iteration 12
VAlue agter each iteration 20
VAlue agter each iteration 30
VAlue agter each iteration 42

In [93]:
print("Final sum",sme)

Final sum 42

### 31. Print the cube of each number in a list of 5 numbers

In [97]:
lit = [2,4,3,5,6]

In [98]:
cube = [i**3 for i in lit]

In [99]:
cube

[8, 64, 27, 125, 216]

### 32. Print each word in the sentence 'Python is fun' using a for loop

In [45]:
str = "Python is fun"
str = str.replace(" ","")

In [46]:
for ch in str:
    print(ch, end=" ")

P y t h o n i s f u n

### 33. Print the first 5 multiples of 3 using a for loop

In [67]:
user_i = int(input())

In [68]:
for i in range(user_i, user_i*6):
    if(i%user_i==0):
        print(i)

4
8
12
16
20

### 34. Print only names that start with 'A' from a list of names

In [70]:
list_a = ['Atharv','Omkar','Arnav',"Sudesh","Prasanaa"]

In [71]:
for name in list_a:
    if name.startswith("A"):
        print(name)

Atharv
Arnav

### 35. Find the largest number in a list using a for loop

In [72]:
list = [2,1,100,4,5,676,234,6754,9765,0,34]

In [74]:
max_num = 0

In [78]:
for num in list:
    if num > max_num:
        max_num = num
print("Largesh Number:",max_num)

Largesh Number: 9765

### 36. Print the index and value of each element in a list

In [39]:
my_list = ['apple','watermelon','Guava','Dragon']

In [40]:
for index, item in enumerate(my_list, start=1):
    print(f"{index}. {item}")

1. apple
2. watermelon
3. Guava
4. Dragon

### 37. Create a dictionary with 5 students and their marks

In [13]:
student_info = {
    "Student1":{
        "Name":"Rahul", "Marks":78
    },
    "Student2":{
        "Name":"Vijay", "Marks":80
    },
    "Student3":{
        "Name":"Omkar", "Marks":85
    },
    "Student4":{
        "Name":"Atharv", "Marks":81
    },
    "Student5":{
        "Name":"Pratik", "Marks":84
    }
                }

In [32]:
student_info

{'Student1': {'Name': 'Rahul', 'Marks': 78},
 'Student2': {'Name': 'Vijay', 'Marks': 80},
 'Student3': {'Name': 'Omkar', 'Marks': 85},
 'Student4': {'Name': 'Atharv', 'Marks': 81},
 'Student5': {'Name': 'Pratik', 'Marks': 84}}

### 38. Use a for loop to print all student names

In [28]:
for info in student_info.values():
    print(info["Name"])

Rahul
Vijay
Omkar
Atharv
Pratik

### 39. Given a dictionary of fruits and prices, use a for loop to print each fruit and its price

In [ ]:
dic_fruits = {"Apple":250, "Watermelom":110,"Banana":70,"Sapota":45,"Orange":240,"Blueberry":250,"Apricot":300}

In [36]:
for name, price in dic_fruits.items():
    print(name, price)

Apple 250
Watermelom 110
Banana 70
Sapota 45
Orange 240
Blueberry 250
Apricot 300

### 40. Create a dictionary of 5 products and their prices. Increase every product's price by 10% using a for loop

In [76]:
fruit_f = {"Apple":40, "Watermelom":70,"Banana":70,"Sapota":45,"Orange":24}

In [72]:
for fruit in fruit_f:
    fruit_f[fruit] = fruit_f[fruit] + fruit_f[fruit]*0.1
   
for fruit,price in fruit_f.items():
    print(fruit, price)

Apple 44.0
Watermelom 77.0
Banana 77.0
Sapota 49.5
Orange 26.4

In [ ]:
##comprehension

In [79]:
fruit_f = {"Apple":40, "Watermelom":70,"Banana":70,"Sapota":45,"Orange":24}

In [80]:
fruit_f = {fruit: price *1.10 for fruit, price in fruit_f.items()}

In [81]:
print(fruit_f)

{'Apple': 44.0, 'Watermelom': 77.0, 'Banana': 77.0, 'Sapota': 49.50000000000001, 'Orange': 26.400000000000002}

### 41. Given a dictionary of 10 items, delete all items whose value is less than 50 using a for loop

In [2]:
fruits = {"Apple":40, "Watermelom":70,"Banana":70,"Sapota":45,"Orange":24,"Blueberry":25,"Apricot":30,"Dragon":70,"Grapes":40,"simran":60}

In [14]:
for fruit, price in list(fruits.items()):  # dic dosn't allow to iterate and modify together thrf converted to list
    if (price<50):
        del fruits[fruit]
print(fruits)

{'Watermelom': 70, 'Banana': 70, 'Dragon': 70, 'simran': 60}

In [ ]:
##Comprehension Method

In [11]:
fruits = {fruit: price for fruit, price in fruits.items() if price>=50}

In [12]:
print(fruits)

{'Watermelom': 70, 'Banana': 70, 'Dragon': 70, 'simran': 60}

### 42. Create a dictionary of subjects and marks. Add a new subject and mark. Then use a for loop to print all updated key–value pairs

In [47]:
stu_mrk = {"Atharv": 80, "Omkar": 82,"Pratik":90}

In [49]:
for name,marks in list(stu_mrk.items()):
    stu_mrk["Swapnil"] = 84
print(stu_mrk)

{'Atharv': 80, 'Omkar': 82, 'Pratik': 90, 'Swapnil': 84}

In [50]:
type(stu_mrk)

dict

### 43. Given a dictionary of names and ages, add 1 year to every age using a for loop

In [9]:
dic = {"Name":"Rahul","Age":20,"City":"Pune"}

In [10]:
for key,value in dic.items():
    if key == "Age":
        dic["Age"] = dic["Age"] + 10
print(f"{dic}")

{'Name': 'Rahul', 'Age': 30, 'City': 'Pune'}

### 44. Print numbers from 0 to 9 using range()

In [53]:
for i in range (0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

### 45. Print numbers from 5 to 15 using range()

In [52]:
for i in range(5,16):
    print(i)

5
6
7
8
9
10
11
12
13
14
15

### 46. Print numbers from 1 to 20 with a step of 2 using range()

In [51]:
for i in range(1,21,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

### 47. Print the length of a given list using len()

In [45]:
ui = input()

In [46]:
us = ui.split()

In [50]:
us

['2', '3', '4']

In [49]:

print(len(us))

3

### 48. Print the length of a given string using len()

In [32]:
str = input()

In [33]:
print(len(str))

5

### 49. Use range() and len() to iterate over a list by index and print each element

In [25]:
list = [2,3,4,5,6,7,2,4]

In [26]:
for i in range(len(list)):
    print(f"{i+1}. {list[i]}" )

1. 2
2. 3
3. 4
4. 5
5. 6
6. 7
7. 2
8. 4

### 50. Print the sum of numbers from 1 to 100 using range()

In [82]:
sum = 0
for i in range(1,101):
    sum = sum+i
print(f"{sum}")

5050