### What is a function in Python?

### Write the correct syntax of a Python function.

In [1]:
def add(x,y):
    return(x+y)

In [2]:
add(2,4)

6

### What is the default return value of a function if no return statement is used?

In [8]:
def test(name = "Guest"):
    return(f"Hello {name}")

In [10]:
test()

'Hello Guest'

### Define a function named hello() that prints "Hello World".

In [3]:
def hello():
    print("Hello World")

In [4]:
hello()

Hello World

### What is the difference between a parameter and an argument? Write a function with two parameters a and b that returns their sum.

In [ ]:
def ad(a,b): #a,b parameter = variable
    return a+b

In [ ]:
ad(2,5) # Arguments = value

7

### What are positional arguments? Give an example.

In [13]:
def intro (name, age, city):
    print(name, age, city)

In [14]:
intro("Aarya",25,"Pune")

Aarya 25 Pune

### What are keyword arguments? Give an example.

In [ ]:
def intro (name, age, city):
    print(name, age, city)

In [15]:
intro(name = "Rahul", city="Kolhapur", age = "22")

Rahul 22 Kolhapur

### What are default parameters? Write a function with a default parameter country="India" that prints "I live in <country>".

In [16]:
def ic (country = "India"):
    print(f"I live in {country}")

In [19]:
ic()

I live in India

In [18]:
ic("England")

I live in England

### Write a function square(n) that returns the square of a number.

In [24]:
def squaring(n):
    print(n*n)

In [26]:
squaring(4)

16

### What does *args mean in Python? Write a function that accepts any number of values using *args and prints them.

In [ ]:
# *args allows you to pass multiple positional arguments to a function, even if you don’t know how many in advance.

In [32]:
def fun(*args):
    return (args)

In [ ]:
fun(1, 2, 3, 4, 5)               #args is a tuple containing all positional arguments.

(1, 2, 3, 4, 5)

### What does **kwargs mean? Write a function that prints all keyword arguments using **kwargs.

In [ ]:
# **kwargs in Python allows a function to accept any number of keyword arguments

In [1]:
def fun(**kwargs):
    print(kwargs)

In [2]:
fun(name = "Aarya", age = 23, city = "Pune")

{'name': 'Aarya', 'age': 23, 'city': 'Pune'}

### Write a function that returns two values: the sum and product of two numbers. Can a Python function return multiple values? How?

In [41]:
def admul(a,b):
    return a+b, a*b

In [45]:
admul(2,4)    # Yes, Python functions can return multiple values.
              # Python does this by returning a tuple:

(6, 8)

In [43]:
s, p = admul(2,4)
print(f"Sum: {s}")
print(f"Multiplication: {p}")

Sum: 6
Multiplication: 8

### Write a function even_or_odd(n) that returns "Even" or "Odd".

In [49]:
def even_or_odd(n):
    if n%2==0:
        return("Even")
    else:
        return("Odd")

In [51]:
even_or_odd(2)

'Even'

In [52]:
def even_or_odd(n):
    return "Even" if n%2 == 0 else "Odd"

In [53]:
even_or_odd(8)

'Even'

### Write an adapter function that takes a list of operations and executes add, sub, mul, div based on input. 

### Example: [ {"op": "add", "a": 10, "b": 20}, {"op": "mul", "a": 4, "b": 5} ]

In [8]:
def add(a,b):
    print(a+b)
def sub(a,b):
    print(a-b)
def mul (a,b):
    print(a*b)
def div(a,b):
    print(a/b)

def ops(**kwargs):
    if kwargs["op"] == "add":
        add(kwargs["a"], kwargs["b"])
    elif kwargs['op'] == 'sub':
        sub(kwargs["a"],kwargs['b'])
    elif kwargs['op'] == 'mul':
        mul(kwargs["a"],kwargs['b'])
    elif kwargs['op'] == 'div':
        div(kwargs["a"],kwargs['b'])

In [9]:
lst = [ {"op": "add", "a": 10, "b": 20}, {"op": "mul", "a": 4, "b": 5} ]
for i in lst:
    ops(**i)

30
20

### Write a function process_students(data) that prints total marks and grade for each student.
- Example: [ {"name":"A", "marks":[80,90,70]}, {"name":"B", "marks":[60,75,65]} ] 
- Expected Output: Name: A | Total: 240 | Grade: A Name: B | Total: 200 | Grade: B

In [24]:
def student_total(**kwargs):
    s=sum(kwargs["marks"])
    if 0<= s <=300:
        if s>=240:
            grade = "A"
        if s>=200:
            grade = "B"
        if s>=160:
            grade = "C"
        if s>=120:
            grade = "D"
        else:
            grade = "F"
        print("Name:",kwargs["name"],"| Total", s,"| Grade:",grade,"\n")
    else:
        print(kwargs["name"],"-Total marks out of range")

In [25]:
student_info = [ {"name":"A", "marks":[80,90,70]}, {"name":"B", "marks":[60,75,65]} ]

In [26]:
for i in student_info:
    student_total(**i)

Name: A | Total 240 | Grade: D

Name: B | Total 200 | Grade: D

### Create a function apply_discounts(products) that updates price after discount. 
- Example: [ {"name":"Laptop", "price":50000, "discount":10}, {"name":"Phone", "price":20000, "discount":5} ] 
- Expected Output: Laptop final: 45000 Phone final: 19000

In [27]:
def apply_discount(**products):
    dis_p = products["price"] - products['price'] * products['discount']/100
    print(products['name'],"Final price:", dis_p)

In [28]:
price_detail = [ {"name":"Laptop", "price":50000, "discount":10}, {"name":"Phone", "price":20000, "discount":5} ]

In [29]:
for i in price_detail:
    apply_discount(**i)

Laptop Final price: 45000.0
Phone Final price: 19000.0

### Write a function generate_report(employees) that calculates bonus based on salary slabs. 
- Slabs: 
- salary > 50,000 → bonus = 15%, 
- salary 30,000–50,000 → bonus = 10%, 
- salary < 30,000 → bonus = 5%. 

#### Example employees = 
- [ {"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 55000}, {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000}, {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000}, {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000}, {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000} ]

In [44]:
def generate_report(**employees):
    if employees['salary'] >50000:
        bonus = employees['salary']*0.15
    elif employees['salary'] > 30000:
        bonus = employees['salary']*0.10
    elif employees['salary'] < 30000:
        bonus = employees['salary']*0.05
    else:
        bonus = 0
    print("Id", employees['id'] , "Bonus", bonus)

In [45]:
emp_salary_info = [ {"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 55000}, {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000}, {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000}, {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000}, {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000} ]

In [46]:
for i in emp_salary_info:
    generate_report(**i)

Id 101 Bonus 8250.0
Id 102 Bonus 4000.0
Id 103 Bonus 9750.0
Id 104 Bonus 9000.0
Id 105 Bonus 3500.0

### Write a function get_employee_names(emp_list) that returns a list of all employee names.

In [53]:
emp_names = []
def get_employee_name(**emp_list):
    emp_names.append(emp_list['name'])

In [54]:
for i in emp_salary_info:
    get_employee_name(**i)

print(emp_names)

['Amit', 'Neha', 'Raj', 'Simran', 'Vijay']

### Write a function filter_by_department(emp_list, dept) that returns employees belonging to a specific department.

In [59]:
def filter_by_department(**emp_list):
    print(emp_list['name'],":",emp_list['department'])

In [60]:
emp_salary_info = [ {"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 55000}, {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000}, {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000}, {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000}, {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000} ]

In [61]:
for i in emp_salary_info:
    filter_by_department(**i)

Amit : IT
Neha : HR
Raj : Finance
Simran : IT
Vijay : Admin

### Write a function highest_salary(emp_list) that returns the employee with the highest salary.

In [83]:
emp_salary_info = [ {"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 55000}, {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000}, {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000}, {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000}, {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000} ]

In [96]:
def highest_salary(empl_list):
    highest_salary = 0
    highest_salary_emp = None

    for emp in empl_list:
        if emp['salary'] > highest_salary:
            highest_salary = emp['salary']
            highest_salary_emp = emp['name']

    print("Name:", highest_salary_emp, "| Salary:", highest_salary )

In [97]:
highest_salary(emp_salary_info)

Name: Raj | Salary: 65000

### Write a function average_salary(emp_list) that returns the average salary.

In [ ]:
emp_salary_info = [ {"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 55000}, {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000}, {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000}, {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000}, {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000} ]

In [105]:
def average_salary(emp_list):
    total_sal = 0
    for emp in emp_list:
        total_sal += emp['salary']
    print("Average Salary", total_sal/len(emp_list))

In [106]:
average_salary(emp_salary_info)

Average Salary 51000.0

### Write a function salary_hike(emp_list, percent) that increases each salary by given percent.

In [123]:
emp_salary_info = [ {"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 55000}, {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000}, {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000}, {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000}, {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000} ]

In [124]:
def salary_hike(emp_list, percent):
    for emp in emp_list:
        emp['salary'] += (emp['salary'] * percent/100)
    print(emp_salary_info)

In [125]:
salary_hike(emp_salary_info, 10)

[{'id': 101, 'name': 'Amit', 'age': 28, 'department': 'IT', 'salary': 60500.0}, {'id': 102, 'name': 'Neha', 'age': 24, 'department': 'HR', 'salary': 44000.0}, {'id': 103, 'name': 'Raj', 'age': 31, 'department': 'Finance', 'salary': 71500.0}, {'id': 104, 'name': 'Simran', 'age': 29, 'department': 'IT', 'salary': 66000.0}, {'id': 105, 'name': 'Vijay', 'age': 35, 'department': 'Admin', 'salary': 38500.0}]

### Write out_of_stock(items) that returns all products with stock < 20.

In [135]:
Electronics = [
    {"name": "Laptop", "price": 60000, "stock": 15},
    {"name": "Mouse", "price": 500, "stock": 150},
    {"name": "Keyboard", "price": 1500, "stock": 8},
    {"name": "Monitor", "price": 12000, "stock": 25},
    {"name": "USB Cable", "price": 150, "stock": 50},
    {"name": "Headphones", "price": 2000, "stock": 18}
]

In [136]:
def out_of_stock(items):
    out_list = []
    for i in items:
        if i['stock'] < 20:
            out_list.append(i['name'])
    print("Out of stock", out_list)

In [137]:
out_of_stock(Electronics)

Out of stock ['Laptop', 'Keyboard', 'Headphones']

### Write total_inventory_value(items) → sum(price * stock).

In [141]:
def total_inventory_value(itmes):
    total_iv = 0
    for i in items:
        total_iv+= (i['stock']*i['price'])
    print("Total Value of Inventory: ",total_iv)

In [142]:
total_inventory_value(Electronics)

Total Value of Inventory:  1330500

### Write search_product(items, name) → return matching product(s).

In [ ]:
Electronics = [
    {"name": "Laptop", "price": 60000, "stock": 15},
    {"name": "Mouse", "price": 500, "stock": 150},
    {"name": "Keyboard", "price": 1500, "stock": 8},
    {"name": "Monitor", "price": 12000, "stock": 25},
    {"name": "USB Cable", "price": 150, "stock": 50},
    {"name": "Headphones", "price": 2000, "stock": 18}
]

In [143]:
def search_product(itmes, name):
    fnd = []
    for i in items:
        for j in name:
            if i['name'].lower() == j.lower():
                fnd.append(j)
    print("Found items: ",fnd)

In [144]:
items_to_search = ['Laptop', 'cctv', 'mouse']

In [145]:
search_product(Electronics, items_to_search)

Found items:  ['Laptop', 'mouse']